.card-filter {
  width: 500px;
  border: none;

  nb-card-header {
    background-color: #274bdb;
    text-align: right;
    color: #FFF;
    font-size: 20px;
  }

  h3 {

    font-size: 12px;
    margin-bottom: 5px;
    width: 100%;
    text-align: right;
  }
}

.formm {
  border: none;
}

.pads {

  padding: 0.5rem 1.5rem;
}