<nb-card class="card-filter">
  <nb-card-header class="card-header p-1">
    فلتر
  </nb-card-header>
  <nb-card-body class="card-filter">
    <form id="filter" [formGroup]="filter" class="form-control formm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <div class="field">
            <h3> المدينة </h3>
            <select formControlName="CityID" name="city" id="city" class="form-control">
              <option value="0">اختر واحدة</option>
              <option value="1" *ngFor="let v of cities">{{v.Name}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <h3> نوع النشاط </h3>
            <select formControlName="ProductID" name="activity" id="activitie" class="form-control">
              <option value="0">اختر واحدة</option>
              <option value="1" *ngFor="let v of activitie">{{v.Caption}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="field">
            <h3> النظام </h3>
            <select formControlName="SystemModuleID" name="system" id="system" class="form-control">
              <option value="0">اختر واحدة</option>
              <option value="1" *ngFor="let v of system">{{v.SystemName}}</option>
            </select>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <h3> المنتج </h3>
            <select formControlName="ProductID" name="product" id="product" class="form-control">
              <option value="0">اختر واحدة</option>
              <option value="1" *ngFor="let v of product">{{v.ProductCateoryName}}</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="pads">
    <button form="filter" nbButton status="success">بحث</button>
    <button nbButton status="danger" (click)="close()" class="m-3">اغلاق</button>

  </nb-card-footer>
</nb-card>