.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
}

.user-actions {
  padding: 10px;
  margin-top: 20px;
  font-weight: 800;
}

.icon {
  width: 60px;
  text-align: center;
  font-size: 18px;
  /* color: #3c5dab;
 */
  color: #000310;

}

.tes {
  padding: 5px;
  margin: auto;
}

.project-log-title {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 5px;
}

.project-log-title h3 {
  font-size: small;
  margin-top: 33px;
  margin-left: 20px;
  font-weight: 900;
  font-size: 20px;
  margin-right: 10px;
}

.project-log-title img {
  margin: 30px 20px 10px 0;
  width: 40px;

}