<div class="main-header">
  <div class="user-actions">
    <nb-actions size="small">
      <nb-action class="tes">
        <nb-user [nbContextMenu]="items" name="IbraAhras"></nb-user>
      </nb-action>
      <nb-actions> </nb-actions>
      <nb-action>
        <fa-icon class="icon" [icon]="usericon"></fa-icon>
      </nb-action>
      <nb-action>
        <fa-icon class="icon" [icon]="passicon"></fa-icon>
      </nb-action>
    </nb-actions>
  </div>
  <div class="project-log-title">
    <h3 class="project-name">Angular Crm</h3>
    <img class="img" src="../../../assets/imgs/logo.png" />
  </div>
</div>
<br />
